<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c92a73ee-b45d-4a3c-a354-ed9221479d9c" Publisher="CN=bhaswanth.g" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MetroFlickr8</DisplayName>
    <PublisherDisplayName>bhaswanth.g</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroFlickr8.App">
      <VisualElements DisplayName="MetroFlickr" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="MetroFlickr for Windows 8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Images\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>